name: CI/CD
on:
  push:
    branches: [tucomanda_dev]
jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with: 
        fetch-depth: ß0
    - uses: actions/setup-node@v3
      with:
        node-version: '14ß'
    - name: Install dependencies
      run: npm ci
    - name: Lint
      run: npm run eslint