name: CI/CD
on:
  push:
    branches:
      - 'tucomanda_dev'
jobs:
  unitTest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Use Node 14.x
      uses: actions/setup-node@v3
      with:
        node-version: '14.x'
    - name: Install dependencies
      run: npm ci
    - name: Test
      run: npm test
